html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #f3f3f3;
  font-size: 12px;
}
ul,
li {
  margin: 0;
}

.wrap {
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

h4 {
  cursor: pointer;
}

.loginName {
  float: right;
}

.btn {
  width: 200px;
  background: #6495edc7;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
  line-height: 31px;
  letter-spacing: 19px;
  text-align: center;
  cursor: pointer;
}
